.container {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 15px;
}

.icon {
  border-radius: 50%;
  background: #2a69ec;
  padding: 10px;
  margin-right: 20px;
}

.details {
  display: flex;
  flex-direction: column;
}
