.container {
  background-color: #4b87ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
}

.logo svg {
  margin-right: 5px;
}

.protect {
  display: flex;
  align-items: center;
  color: white;
}

.protect .video {
  display: flex;
  align-items: center;
}

.protect .video svg {
  margin-right: 5px;
}

.sickBtn {
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 10px 15px;
  margin-left: 30px;
}

@media only screen and (max-width: 900px) {
  .protect .video {
    display: none;
  }
}

@media only screen and (max-width: 340px) {
  .logo {
    align-self: flex-start;
  }
  .container {
    flex-direction: column;
  }
}
