.countryName {
  margin-left: 10px;
}

.countryBox {
  cursor: pointer;
  white-space: nowrap;
}

@media only screen and (max-width: 1200px) {
  .countryBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .countryName {
    margin-left: 0px !important;
  }
}
